input_folders = [
  'C:\Users\SmartBrain_32C_TR\Documents\GitHub\standard_test_data\lsfm_data_processing\preprocess_data\20260206_15_18_43_EH_EH0059_M_P8_Aldh1_LAS_488GFP_561Bg_640Sytox_4x_5umstep_Destripe_DONE',
]

# -------- MIP SETTINGS --------

create_MIPs = true          # set to false to disable MIP creation
mip_thickness = 20          # thickness in micrometers
channel = 2                 # Following LifeCanves format: 0=488, 1=561, 2=640


# -------- NORMALIZATION --------

do_normalization = true     # set to false if you do not want normalization
min_val = 0                 # percentile clip min
max_val = 99.9              # percentile clip max


# -------- ADVANCED --------

z_step_user = 5             # set your z step if metadata.json is missing
flag_old_format = false     # set to true for old LifeCanvas format

# custom format options
flag_custom_format = false  # set to true if your format is different than LifeCanvas new or old
subfolder_name = ""         # give the subfolder name to your channel folder
underscores_to_z_plane = 1  # indicate number of underscores before the z plane indicator for your file names
