input_folders = [
  'Z:/PATH/TO/SAMPLE_FOLDER',
]

# -------- MIP SETTINGS --------

create_MIPs = true          # set to false to disable MIP creation
mip_thickness = 20          # thickness in micrometers
channel = 2                 # Following LifeCanves format: 0=488, 1=561, 2=640


# -------- NORMALIZATION --------

do_normalization = true     # set to false if you do not want normalization
min_val = 0                 # percentile clip min
max_val = 99.9              # percentile clip max
convert_to_8bit = false     # set to true to save output images as 8-bit


# -------- ADVANCED --------

z_step_user = 5             # set your z step if metadata.json is missing
flag_old_format = false     # set to true for old LifeCanvas format

# custom format options
flag_custom_format = false  # set to true if your format is different than LifeCanvas new or old
subfolder_name = ""         # give the subfolder name to your channel folder
underscores_to_z_plane = 1  # indicate number of underscores before the z plane indicator for your file names
